/* #COMPONENTS  */
/* #BUTTONS */
button {
  font-size: inherit; }

button, a.button {
  display: inline-block;
  background-color: #39c;
  border: 1px solid #39c;
  color: #fff;
  padding: .75em 1em;
  -webkit-border-radius: .32em;
  -moz-border-radius: .32em;
  border-radius: .32em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: none;
  cursor: pointer;
  line-height: 1em; }

button.alt, a.button.alt {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #39c;
  color: #39c; }

button:hover, a.button:hover {
  background-color: #069;
  color: #fff;
  border-color: #069;
  text-decoration: none; }
