/* Navicon Menu */
.menu.navicon {
  color: rgba(255, 255, 255, 0); }
  .menu.navicon.expanded {
    color: rgba(255, 255, 255, 0); }
  .menu.navicon:hover {
    cursor: default; }
  .menu.navicon:after {
    cursor: pointer;
    color: #333;
    content: '\2630';
    font-size: 1.5em;
    margin-top: -.1em;
    margin-left: .5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: block;
    float: right; }
  .menu.navicon.expanded:after {
    content: '\2715'; }

/* Toggle-Nav */
.toggle-nav .site-branding {
  float: left; }

.toggle-nav .menu,
.toggle-nav .menu.expanded {
  display: none; }

.toggle-nav .menu::selection {
  background: rgba(255, 255, 255, 0); }

@media (max-width: 767px) {
  .toggle-nav .menu,
  .toggle-nav .menu.expanded {
    display: block;
    float: right;
    margin-top: .9em;
    margin-bottom: 1em; }
  .toggle-nav .menu:hover {
    cursor: pointer; }
  .toggle-nav .menu + ul,
  .toggle-nav .menu.expanded + ul {
    clear: both;
    display: block;
    margin: 0;
    padding: .5em 0; }
  .toggle-nav .menu + ul {
    display: none; }
    .toggle-nav .menu + ul li {
      clear: both;
      margin: 0;
      padding: .25em 0;
      display: block; }
      .toggle-nav .menu + ul li a {
        padding: .75em;
        transition: all .3s ease;
        color: #39c; }
      .toggle-nav .menu + ul li a:hover {
        color: #fff;
        background: #39c; }
  .toggle-nav .menu.expanded + ul {
    display: block;
    text-align: center; } }

/* Animated Toggle-Nav Menu */
@media (max-width: 767px) {
  .toggle-nav.animated .menu + ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    border-width: 0;
    transition: all .3s ease; }
  .toggle-nav.animated .menu.expanded + ul {
    max-height: 138em;
    opacity: 1;
    padding: .5em 0;
    border-width: 1px;
    transition: all .6s ease; }
  .toggle-nav.animated .menu + ul li {
    padding: 0;
    opacity: 0;
    transition: all .3s ease; }
  .toggle-nav.animated .menu.expanded + ul li {
    padding: .25em;
    opacity: 1;
    transition: all .6s ease .2s; }
  .toggle-nav.animated .menu + ul li a {
    padding: 0;
    transition: all .3s ease; }
  .toggle-nav.animated .menu.expanded + ul li a {
    padding: .75em; } }
