/* Header & Footer */
.site-header a,
.site-footer a {
  color: #333; }

.site-header a:hover,
.site-footer a:hover {
  color: #069;
  text-decoration: none; }

/* Header Only */
.site-header .container {
  padding-top: 1em;
  padding-bottom: 0; }

.site-header .container:after {
  display: block;
  padding-top: .5em;
  border-bottom: 1px solid #ddd; }

.site-header.no-border .container:after {
  border-bottom: none; }

/* Site Branding */
.site-branding {
  text-align: center; }
  .site-branding h1 {
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color: #666;
    padding: .5em 0 .4em 0; }
    .site-branding h1 a {
      font-weight: bold;
      display: inline-block; }
  @media (min-width: 768px) {
    .site-branding {
      float: left; } }

/* Footer Only */
.site-footer .container {
  padding-top: 0;
  padding-bottom: 1em; }

.site-footer .container:before {
  display: block;
  content: '';
  border-top: 1px solid #ddd;
  padding-top: .5em; }

.site-footer.no-border .container:before {
  border-top: none; }

/* Main Sections */
section {
  padding: 1.5em 0; }

/* Hero Sections */
.hero {
  background: #ccc;
  padding: 4em 1em 3em 1em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .hero h1, .hero h2 {
    font-size: 3em;
    line-height: 1.1em;
    max-width: 10em; }
  .hero p {
    max-width: 22em; }
  .hero.text-centered h1, .hero.text-centered h2, .hero.text-centered h3, .hero.text-centered h4, .hero.text-centered h5, .hero.text-centered h6, .hero.text-centered p {
    margin-left: auto;
    margin-right: auto; }
  .hero.full-width {
    margin-top: 0;
    margin-bottom: 0; }

/* Colored Sections */
section.superlightgrey {
  background: #f0f0f0;
  padding: 5em 0 2em 0; }

section.lightgrey {
  background: #e0e0e0;
  padding: 5em 0 2em 0; }

section.darkgrey {
  background: #222;
  color: #fff;
  padding: 5em 0 2em 0; }

section.hero.superlightgrey, section.hero.lightgrey, section.hero.darkgrey {
  padding: 6em 1em 5em 1em; }

/* Sub Pages with Multiple Column Layout */
@media (min-width: 768px) {
  .subpage-sidebar {
    float: left;
    width: 21%;
    padding-right: 4%; } }

.subpage-sidebar .subheader {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin-top: .5em;
  margin-bottom: 0;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #aaa; }

@media (min-width: 768px) {
  .subpage-main {
    float: right;
    width: 70%;
    padding-left: 4%;
    border-left: 1px solid #ddd; } }

.subpage-main section:first-child {
  padding-top: 0; }

.subpage-main section:last-child {
  padding-bottom: 5em; }

.subpage-navigation {
  padding: 0; }
  .subpage-navigation ul li {
    list-style: none;
    margin-left: 0; }
    .subpage-navigation ul li a {
      text-decoration: none;
      display: block;
      padding: .5em .875em;
      border-bottom: 1px solid #ddd; }
    .subpage-navigation ul li ul {
      border-top: none; }
      .subpage-navigation ul li ul li a {
        padding-left: 1.875em; }
