/* Variables */
$text-color: orange;
$link-color: red;
$link-color-dark: maroon;
$border-color: pink;
$accent-color: teal;
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

@import "partials/html5";
@import "partials/typography";
@import "partials/media";
@import "partials/components";
@import "partials/layout";
@import "partials/structure";
@import "partials/site-navigation";
@import "partials/site-navigation-togglenav";
