/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE START
        #HTML5
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #LISTS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                #SITE-BRANDING (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

@import "base";



/* #SITE SPECIFIC CUSTOM CSS (e.g. Base Overrides)
---------------------------------
	#TYPOGRAPHY OVERRIDES
		#@FONT-FACE
        #BODY
		#HEADINGS
		#PARAGRAPHS
    #LAYOUT OVERRIDES
		#BODY
		#CONTAINER
    #NAVIGATION
        #SITE-BRANDING
        #SITE-NAVIGATION
    #CONTENT
        #SECTIONS
--------------------------------- */

/* Typography Overrides */

body {

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .15em;
}
